@import "fonts.css";

img {
	max-width: 100%;
}

/*
 * Utility class to hide content visually while keeping it screen reader-accessible.
 * Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
 */

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Fix scroll bar jumping issue */
html {
	overflow-y: scroll;
}

/* Set base fonts */
html {
	/* System Fonts as used by GitHub */
	font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 20px;
}

.article-exceprt,
.article-content {
	/* taken from gwern */
	font-family: "Source Serif Pro", "Apple Garamond", "Baskerville", "Libre Baskerville", "Droid Serif", "Times New Roman", "Times", serif;
	line-height: 1.6;
}

.main-and-sidebar-wrapper > aside {
	font-size: 18px;
}

@media screen and (max-width: 767px) {
	html {
		font-size: 18px;
	}
	.main-and-sidebar-wrapper > aside {
		font-size: inherit;
	}
}


/* Beginning of main layout for a desktop screen */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
}

.main-and-sidebar-wrapper {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	column-gap: 10px;
	max-width: 1200px;
}

.main-and-sidebar-wrapper > *,
body > footer {
	padding: 10px;
	box-sizing: border-box;
}

.main-and-sidebar-wrapper > header {
	flex: 1 100%;
}

.main-and-sidebar-wrapper > main {
	flex: 2 0 0;
}

.main-and-sidebar-wrapper > aside {
	flex: 1 0 0;
}

body > footer {
	width: 100%;
	max-width: 1200px;
}
/* End of main layout for a desktop screen */

/* Beginning of main layout for a tablet screen */
@media screen and (max-width: 1024px) {
}
/* End of main layout for a tablet screen */

/* Beginning of main layout for a mobile screen */
@media screen and (max-width: 767px) {
	.main-and-sidebar-wrapper > main,
	.main-and-sidebar-wrapper > aside {
		flex: 1 100%;
	}
}
/* End of main layout for a mobile screen */

/* 1. Header */
.main-and-sidebar-wrapper > header {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* 1.1 Logo */
.main-and-sidebar-wrapper > header > a {
	font-size: 1.6rem;
	font-weight: 700;
	text-decoration: none;
}

/* 1.2 Navigation */
header nav {
	clear: both;
}
header nav ul {
	padding: 0;
	margin: 0;
}

header nav li {
	float: left;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 5px;
	box-sizing: border-box;
}

header nav li ul {
	position: absolute;
	top: 100%;
	left: 0;
}

header nav li ul li {
	width: 100%;
}

header nav li ul ul {
	top: 0;
	right: 100%;
	left: auto;
}

ul[aria-hidden="true"] {
	display: none;
}

header nav > ul li       > ul { display: none !important; }
header nav > ul li:hover > ul { display: block!important;}
li.open > ul {
	display: block!important;
}

/* Caret icon */
header nav li img {
	height: 0.8rem;
	width: auto;
	max-width: none;
}

header nav > ul > li > img {
	margin-right: -0.4rem;
}

/* end 1.2 */
/* end 1. */

/* 2. Sidebar */
.main-and-sidebar-wrapper > aside dl {
	display: grid;
	grid-template-columns: auto 1fr;
}

.main-and-sidebar-wrapper > aside #sidebar-social-links {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.main-and-sidebar-wrapper > aside #sidebar-social-links img {
	height: 1.0rem;
	width: auto;
	max-width: none;
	display: block;
	float: left;
}

.main-and-sidebar-wrapper > aside #sidebar-social-links > *:after {
	content: "\B7";
}
.main-and-sidebar-wrapper > aside #sidebar-social-links > *:last-child:after {
	content: "\00a0";
}

.main-and-sidebar-wrapper > aside ul {
	list-style: none;
	padding: 0;
}
/* end 2. */

/* 3. Content */
/* end 3. */
