img {
	max-width: 10%;
}

/*
 * Utility class to hide content visually while keeping it screen reader-accessible.
 * Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
 */

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Fix scroll bar jumping issue */
html {
	overflow-y: scroll;
}

/* Beginning of main layout for a desktop screen */
body {
	background: grey;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
}

.main-and-sidebar-wrapper {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	column-gap: 10px;
	max-width: 1200px;
}

.main-and-sidebar-wrapper > header,
.main-and-sidebar-wrapper > footer {
	background: green;
}

.main-and-sidebar-wrapper > header {
	flex: 1 100%;
}

.main-and-sidebar-wrapper > main {
	flex: 2 0 0;
}

.main-and-sidebar-wrapper > aside {
	flex: 1 0 0;
}

body > footer {
	width: 100%;
	max-width: 1200px;
}
/* End of main layout for a desktop screen */

/* Beginning of main layout for a tablet screen */
@media screen and (max-width: 1024px) {
}
/* End of main layout for a tablet screen */

/* Beginning of main layout for a mobile screen */
@media screen and (max-width: 767px) {
	.main-and-sidebar-wrapper > main,
	.main-and-sidebar-wrapper > aside {
		flex: 1 100%;
	}
}
/* End of main layout for a mobile screen */

/* Navigation */
ul[aria-hidden="true"] {
	display: none;
}

nav > ul li       > ul { display: none; }
nav > ul li:hover > ul { display: inherit;}
li.open > ul {
	display: inherit;
}
