<!DOCTYPE html>
<html lang="{{ site_info.lang }}">
<head>
	<title>{{ page.title }} | {{ site_info.name }}</title>
</head>
<body>
	{%- block body %}

	{%+ filter indent(4) %}{% include "header.html" %}{%- endfilter %}

	<main>
	{% block content +%}
	{%- endblock %}
	</main>

	{%- if site_info.theme_options.get("sidebar") +%}
	{%+ filter indent(4) %}{% include "sidebar.html" %}{% endfilter %}
	{%- endif %}

	<footer>
		Copyright &copy; {{ site_info.theme_options.get("copyright_year", site_info.internal_data["build_date"].year) }} <a href="/" aria-label="home page">{{ site_info.name }}</a>.
		Powered by <a aria-label="the 'pygeon' site generator github repository" href="https://github.com/vshotarov/pygeon">pygeon</a>.
	</footer>
	{%- endblock %}

	<script src="js/nav_aria.js"></script>
</body>
</html>
