<!DOCTYPE html>
<html lang="{{ site_info.lang }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{{ page.title }} | {{ site_info.name }}</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/main.css">
	{% for css_file in site_info.theme_options.get("extra_css",[]) %}
	<link rel="stylesheet" href="{{ css_file }}">
	{% endfor %}
</head>
<body>
	<div class="main-and-sidebar-wrapper {% if not site_info.theme_options.get('sidebar') %}no-sidebar{%endif%}">
	{%- block body %}

	{%+ filter indent(4) %}{% include "header.html" %}{%- endfilter %}

	<main>
	{% block content +%}
	{%- endblock %}
	</main>

	{%- if site_info.theme_options.get("sidebar") +%}
	{%+ filter indent(4) %}{% include "sidebar.html" %}{% endfilter %}
	{%- endif +%}
	</div>

	<footer>
		Copyright &copy; {{ site_info.theme_options.get("copyright_year", site_info.internal_data["build_date"].year) }} <a href="/" aria-label="home page">{{ site_info.name }}</a>.
		Powered by <a aria-label="the 'pygeon' site generator github repository" href="https://github.com/vshotarov/pygeon">pygeon</a>. Icons from <a href="https://tabler-icons.io">tabler</a>.
	</footer>
	{% endblock %}

	<script src="/js/nav_aria.js"></script>
	{% for js_file in site_info.theme_options.get("extra_js",[]) %}
	<script src="{{ js_file }}"></script>
	{% endfor %}
</body>
</html>
