{% macro post_metadata(post, indent_level=0) -%}
{% filter indent(indent_level*4) %}
<section aria-label="post metadata">
	<span aria-label="publish date">{{ post.publish_date.strftime(site_info.display_date_format) }}</span>
	{% if post.front_matter.get("category") %}
	{% if site_info.category_nav %}
	<a aria-label="link to category" href="{{ site_info.category_nav[post.front_matter["category"]] }}">{{ post.front_matter["category"] }}</a>
	{% else %}
	<span aria-label="category">{{ post.front_matter["category"] }}</span>
	{% endif %}
	{% endif %}
</section>
{%- endfilter -%}
{%- endmacro -%}

{% extends "base.html" %}

{% block content %}
	{% if page.aggregated_posts %}
		{# list template #}
		<ol>
		{% for post in page.aggregated_posts %}
			<li><article>
				<header>
					<h2><a href="{{ post.href }}">{{ post.title }}</a></h2>
					{{ post_metadata(post, 4) }}
				</header>
				<div class="article-excerpt">
					<p>{{ post.excerpt | indent(4) }}</p>
				</div>
			</article></li>
		{% endfor %}
		</ol>
	{% else %}
		{# single page/post template #}
		<article>
			<header>
				<h1>{{ page.title }}</h1>
				{% if page.is_post %}
				{{ post_metadata(page, 3) }}
				{% endif %}
			</header>
			<div class="article-content">
			{{ page.content | safe | indent(16) }}
			</div>
		</article>
	{% endif %}
{% endblock %}
