{% extends "base.html" %}

{% block content %}
	{% if page.aggregated_posts %}
		{# list template #}
		<ol>
		{% for post in page.aggregated_posts %}
			<li><article>
				<header>
					<h2><a href="{{ post.href }}">{{ post.title }}</a></h2>
					<section aria-label="post metadata">
						<span aria-label="publish date">{{ post.publish_date.strftime("%B %-d, %Y") }}</span>
						{% if post.front_matter.get("category") %}
						<span aria-label="category">{{ post.front_matter["category"] }}</span>
						{% endif %}
					</section>
				</header>
				<div class="article-excerpt">
					<p>{{ post.excerpt | indent(4) }}</p>
				</div>
			</article></li>
		{% endfor %}
		</ol>
	{% else %}
		{# single page/post template #}
		<article>
			<header>
				<h1>{{ page.title }}</h1>
				{% if page.is_post %}
				<section aria-label="post metadata">
					<span aria-label="publish date">{{ page.publish_date.strftime("%B %-d, %Y") }}</span>
					{% if page.front_matter.get("category") %}
					<span aria-label="category">{{ page.front_matter["category"] }}</span>
					{% endif %}
				</section>
				{% endif %}
			</header>
			<div class="article-content">
			{{ page.content | safe | indent(16) }}
			</div>
		</article>
	{% endif %}
{% endblock %}
