<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="{{ page.description }}">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ site.title_template.format(page=page,site=site) }}</title>

		<!-- CSS -->
		<link rel="stylesheet" href="/css/poole.css">
		<link rel="stylesheet" href="/css/syntax.css">
		<link rel="stylesheet" href="/css/hyde.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
	</head>
	<body>
	{% filter indent(width=4) %}
	{% include "header.html" %}
	{% endfilter %}
