<div class="page">
	{% if page.front_matter.get("title") %}
	<h1 class="page-title">{{ page.front_matter["title"] }}</h1>
	{% endif %}
	{{ page.content|safe }}
	{% for aggregated_page in page.aggregated_pages %}
		<div class="post">
			<h1 class="post-title"><a href="{{ aggregated_page.href }}">
				{% if aggregated_page.front_matter.get("title") %}
					{{ aggregated_page.front_matter["title"] }}
				{% else %}
					{{ aggregated_page.name }}
				{% endif %}
			</a></h1>
			{{ aggregated_page.content|safe }}
		</div>
	{% endfor %}
</div>
