<div class="sidebar">
	<div class="container sidebar-sticky">
		<div class="sidebar-about">
			<h1><a href="/">{{ site.title }}</a></h1>
			<p class="lead">{{ site.description }}</p>
		</div>

		<nav class="sidebar-nav">
			{% for item in site.navigation %}
			<a class="sidebar-nav-item {% if page.href == item.href %} active{%endif%}" href="{{ item.href }}">{{ item.name }}</a>
			{% endfor %}

			<span class="sidebar-nav-item">Currently v{{ site.version }}</span>
		</nav>

		<p>&copy; {{ site.copyright_year }}. All rights reserverd.</p>
	</div>
</div>
