<article class="post-single">
	<header class="post-header">
		{% include "breadcrumbs.html" %}
		<h1 class="post-title">
			{% if page.front_matter.get("title") %}
				{{ page.front_matter["title"] }}
			{% else %}
				{{ page.name }}
			{% endif %}
		</h1>
		{% if not page.is_top_level %}
			<div class="post-meta">
				{% set front_matter = page.front_matter %}
				{% include "post_meta.html" %}
			</div>
		{% endif %}
	</header>
	{% if page.front_matter.get("cover_image") %}
		{% set cover_image = page.front_matter["cover_image"] %}
		{% set cover_caption = page.front_matter.get("cover_caption") %}
		{% include "cover.html" %}
	{% endif %}
	<div class="post-content">
		{{ page.content | safe }}
	</div>

	<footer class="post-footer">
		<div class="link-back-to-top">
			<a href="#top">Back To The Top</a>
		</div>
	</footer>
