<div class="profile">
	<div class="profile_inner">
		<img id="profile-image" src="{{ site.profile_image }}" alt="Profile image">
		<h1>{{ site.title }}</h1>
		<span>{{ site.subtitle }} -- subtitle </span>
		{% include "social_icons.html" %}
		<div class="buttons">
			{% for button in site.home_page_buttons %}
				<a class="button" href="{{ button.href }}" rel="noopener" title="{{ button.title }}">
					<span class="button-inner">{{ button.title }}</span>
				</a>
			{% endfor %}
		</div>
	</div>
</div>
